<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Website</title>
    <link rel="stylesheet" href="/static/style/site.css">
    <script src="/static/app.js"></script>
</head>
<body>
    <h1>Welcome to our website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fugiat vel, placeat corporis consequuntur quo cupiditate odit ea commodi? Laborum reiciendis et cumque beatae cum, nobis autem quos ratione molestias?</p>
    <a href="/about.html">About Us</a>
    <button onclick="getMessage()">Get Massage</button>
</body>
</html>