h1=title

h2=subtitle

each number in myArray
    .some-class=number

if isValid
    h3 Valid
else 
    h3 Not Valid

ul#identifier
    li 
        | Item
    li 
        | Gosho

.some-class
    | Hello

a(href="softuni.bg")
    | Softuni
